<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Buscador de Productos</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <div class="container">
       
        <div>
            <h2>Todos los productos</h2>
            <ul id="productos"></ul>
        </div>

        
        <div>
            <h2>Buscar por ID</h2>
            <label for="prodId">ID del Producto:</label>
            <input type="text" id="prodId" size="5" />
            <input type="button" value="Buscar" onclick="encontrarProducto();" />
            <p id="producto"></p>
        </div>

       
        <div>
            <h2>Agregar un nuevo producto</h2>
            <label for="prodName">Nombre del Producto:</label>
            <input type="text" id="prodName" size="20" />
            <input type="button" value="Agregar" onclick="agregarProductoALista({ nombre: document.getElementById('prodName').value });" />

        </div>

      
        <div>
            <h2>Actualizar un producto</h2>
            <label for="prodIdUpdate">ID:</label>
            <input type="text" id="prodIdUpdate" size="5" />
            <label for="prodNameUpdate">Nuevo Nombre:</label>
            <input type="text" id="prodNameUpdate" size="20" />
            <input type="button" value="Actualizar" onclick="actualizarProducto();" />
        </div>

       
        <div>
            <h2>Eliminar un producto</h2>
            <label for="prodIdDelete">ID del Producto:</label>
            <input type="text" id="prodIdDelete" size="5" />
            <input type="button" value="Eliminar" onclick="eliminarProducto();" />
        </div>
    </div>

    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
